{{#partial "content"}}
 <div class="search-wrapper">
   <div class="search row">
      <h1>data.h1</h1>
      <form>
        <input type="text" placeholder="Search here..." required autofocus>
        <button class ="btn-form" type="submit"></button>
      </form>
      <pre>{{data.pre}}</pre>
    </div>
  </div>

  {{/partial}}
